<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>navbar</nav>
  </header>
  <section class="Hero">
    <div> Pelis plus</div>
  </section>
  <section class="cards">
    <div id="Card1">
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fareajugones.sport.es%2Fanime%2Fone-piece%2F&psig=AOvVaw3UuW3ojUalTfHCWspRSmeG&ust=1695066170165000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCLCj6tazsoEDFQAAAAAdAAAAABAE" alt="One piece">
      <h1>One Piece</h1>
    </div>
    <div id="Card2">
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.bandainamcoent.eu%2Fdragon-ball%2Fdragon-ball-xenoverse-2&psig=AOvVaw1VUT5N-ZYUQNZAGwyMs5Mk&ust=1695066242362000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCMjnu_mzsoEDFQAAAAAdAAAAABAE" alt="DBZ">
      <h1>Dragon Ball</h1>
    </div>
    <div id="Card3">
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdoblaje.fandom.com%2Fes%2Fwiki%2FBleach%3A_Thousand-Year_Blood_War&psig=AOvVaw0aGW4IIS5hgnui7YqSxy7q&ust=1695066293717000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCMj86ZG0soEDFQAAAAAdAAAAABAE" alt="Bleach">
      <h1>Bleach</h1>
    </div>
  </section>
  <footer> instagram : @pelisplus.arg</footer>
  
</body>
</html>